<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body>
    <h2>
       Description maybe 
    </h2>
    <p>First paragraph. I am doing all of this in order to learn about things
      REST, HTML, JS, pytest etc.
      The end goal is not set in stone. This project is simply a means for me to learn new things that I care about learning, and to scratch my coding an problem solving itch.
    </p>
    <h2> Examples, GET endpoints
</h2>
<p> localhost:5000/MockAPI/transcript serves all the data as JSON
  <br>
localhost:5000/MockAPI?party=value serves all transcripts filtered by party affilitaion
<p/>
</body>
</html>
